<div class="row">
  <div class="twelve columns">
    <h2>{{name}}</h2>
    <p>Running version <strong>{{version}}</strong>, up since {{absolute_time uptime}}.</p>
    <p>
      <ul class="button-group four-up even">
        <li><button class="alert button" {{action "shutdown"}}>Shutdown</button></li>
        <li><button class="button" {{action "restart"}}>Restart</button></li>
        <li><button class="button" {{action "flush_cache"}}>Flush cache</button></li>
        <li><button class="button" {{action "deploy"}}>Deploy</button></li>
      </ul>
      <hr>

      <fieldset>
        <legend>Log Search</legend>
        {{view Ember.TextField valueBinding="query" placeholder="Search Text" action="search_log"}}
      </fieldset>
    </p>

    {{#view App.TabsView id='tabsView'}}
      {{#view App.TabView route='server.index'}}
        {{#linkTo server.index}}
          Graph
        {{/linkTo}}
      {{/view}}
      {{#view App.TabView route='server.stats'}}
        {{#linkTo server.stats}}
          Statistics
        {{/linkTo}}
      {{/view}}
      {{#view App.TabView route='server.zones.index'}}
        {{#linkTo zones}}
          Domains
        {{/linkTo}}
      {{/view}}
      {{#view App.TabView route='server.configuration'}}
        {{#linkTo server.configuration}}
          Configuration
        {{/linkTo}}
      {{/view}}
    {{/view}}

  </div>
</div>

<div class="row">
  <div class="twelve columns">
    {{outlet}}
  </div>
</div>

{{render "search_log"}}
